

#article{

    .heading{
        margin: auto;
        margin-top: 3rem;
        margin-bottom: 1rem;
        max-width: var(--container-md);
        .breadcrumbs{
            margin-bottom: 1rem;
        }

        @media (min-width:1024px) {
            .title{
                font-size: 38px;
            }
        }
        
    
        .meta-info{
            display: flex;
            gap: 1rem;
            justify-content: space-between;

            .datetime{
                font-size: 13px;
                margin-bottom: 1rem;
            }

            .author{
                font-size: 16px;
                font-weight: 600;
            }

            .dropdown-button{
                font-size: 15px;
                cursor: pointer;
                background: none;
                border: none;
            
                svg{
                    font-size: 24px;
                }
            }

            .dropdown-menu{
                .socials-list{
                    flex-direction: column;
                    row-gap: 1rem;
                    padding: .8rem;
                    background-color: var(--white);
                }
            }
        }
    }

    .main{
        display: flex;
        flex-direction: column;
        row-gap: 3rem;

        .featured-image{
            width: calc(100% + 2rem);
            margin-right: -1rem;
            margin-left: -1rem;

            @media (min-width: 620px) {
                width: 100%;
                max-width: 960px;
                margin: auto;
            }
        }

        .content{
            max-width: var(--container-md);
            width: 100%;
            margin: auto;
            display: grid;
            gap: 1.5rem;
            
            p{
                font-size: 17px;
                line-height: 1.5;
            }
        }
    }

    .related{
        max-width: var(--container-xl);
        margin-top: 3rem;
        padding-top: 1rem;
        border-top:2px solid var(--secondary);

        .related-articles{
            margin-top: 1.75rem;
            padding-bottom: 3rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
            column-gap: 2rem;
        }

    }

}