

#article{

    .heading{
        margin: auto;
        margin-top: 5rem;
        margin-bottom: 1rem;
        max-width: var(--container-md);
        .breadcrumbs{
            margin-bottom: 1rem;
        }
        
    
        .meta-info{
            display: flex;
            gap: 1rem;
            justify-content: space-between;

            .datetime{
                font-size: 13px;
                color: var(--grey);
                margin-bottom: .8rem;
            }
        }
    }

    .main{
        margin: auto;
        max-width: var(--container-lg);
        display: flex;
        flex-direction: column;
        row-gap: 3rem;

        .content{
            max-width: var(--container-md);
            width: 100%;
            margin: auto;
            display: grid;
            gap: 1.5rem;
            
            p{
                font-size: 17px;
                line-height: 1.5;
            }
        }
    }

    .related{
        margin-top: 3rem;
        padding-top: 1rem;
        border-top:2px solid var(--secondary);

        .related-articles{
            margin-top: 1.75rem;
            padding-bottom: 3rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
            column-gap: 2rem;
        }

    }

}

@media (min-width:1024px) {
    .heading .title{
        h1{
            font-size: 36px;
        }
    }

    
}