
:root{
    --primary:#082AA5;
    --secondary:#161616;
    --error:#FA3C6A;
    --success:#00BA88;
    --disabled:#D9D9D9;
    --text-color:#161616;
    --sub-text-color:var(--grey);
    --grey:#B6B6B6;
    --off-white:#F5F5F5;
    --white:#FFFFFF;

    --rounded-sm:2.5px;
    --rounded:5px;
    --rounded-md:8px;
    --rounded-lg:15px;

    --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --body-font: "Inter", sans-serif;

    --container-sm:640px;
    --container-md:768px;
    --container-lg:1024px;
    --container-xl:1280px;
    --container-2xl:1536px;
}