
header{
    background-color: var(--white);
    position: sticky;
    top: 0;
    z-index: 9;
    height: 70px;
    width: 100%;
}
nav.categories{
    background-color: var(--white);
    top: 70px;
    position: sticky;
    z-index: 8;
    width: 100%;
}

header .annoucements{
    background-color: var(--danger);
}

header  .navbar{
    height: 70px;
    padding: 1rem;
    border-bottom: 1px solid var(--off-white);
    position: relative;
    width: 100%;
    display: flex;
    column-gap: 2rem;
    align-items: center;
    justify-content: space-between;

    .navbar-icons{
        display: flex;
        align-items: center;
        column-gap: 1.5rem;
        .drawer-toggler{
            height: 24px;
            z-index: 10;
            border: none;
            background: none;
            outline: none;
            cursor: pointer;

            svg{
                width: 24px;
                height: 100%;
            }

            &.search-icon[aria-expanded=true]{
                display: none;
            }
        }
        .drawer-toggler:focus {
            outline: none;
          }
        
        .drawer-toggler[aria-expanded=true] .drawer-toggler-icon {
        background: transparent !important;
        }
        
        .drawer-toggler[aria-expanded=true] .drawer-toggler-icon::before,
        .drawer-toggler[aria-expanded=true] .drawer-toggler-icon::after {
        transition: top 300ms 50ms ease, transform 300ms 350ms ease;
        top: 0;
        }
        
        .drawer-toggler[aria-expanded=true] .drawer-toggler-icon::before {
        transform: rotate(45deg);
        }
        
        .drawer-toggler[aria-expanded=true] .drawer-toggler-icon::after {
        transform: rotate(-45deg);
        }
        
        .drawer-toggler .drawer-toggler-icon {
        background: var(--secondary);
        transition: background 10ms 300ms ease;
        display: block;
        width: 24px;
        height: 2.5px;
        position: relative;
        }
        
        .drawer-toggler .drawer-toggler-icon::before,
        .drawer-toggler .drawer-toggler-icon::after {
        transition: top 300ms 350ms ease, transform 300ms 50ms ease;
        position: absolute;
        right: 0;
        left: 0;
        background: var(--secondary);
        width: 24px;
        height: 2.5px;
        content: "";
        }
        
        .drawer-toggler .drawer-toggler-icon::before {
        top: -8px;
        }
        
        .drawer-toggler .drawer-toggler-icon::after {
        top: 8px;
        }
    }

    .brand{
        display: inline-block;
        width: 120px;
    }
    .search-form{
        display: none;

        .main-search{
            width: 100%;
            max-width: 100%;
            padding: 0.8rem 1rem;
            background-color: var(--off-white);
            border: none;
            outline: none;
            border-radius: var(--rounded-md);
            color: var(--text-color);
            font-size: 15px;
            font-family: var(--body-font);
        }
    }

    .nav-auth{
        display: none;
    }

    .avatar-placeholder, .avatar{
        width: 38px;
        height: 38px;
        border-radius:50%;
        overflow: hidden;
    }

    .avatar-placeholder{
        background-color: var(--secondary);
        color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: 700;
    }

    .dropdown{
        z-index: 9;
        position: relative;

        &.active{
            &>.dropdown-button{
                border: none;
                svg{
                    transform: rotate(-180deg);
                }
            }
            &>.dropdown-menu{
                display: block;
            }
        }
        .dropdown-button{
            font-size: 15px;
            display: flex;
            gap: .5rem;
            align-items: center;
            cursor: pointer;

            .username{
                display:none;
            }
            svg{
                font-size: 24px;
                display: none;
            }
        }
        .dropdown-menu{
            display: none;
            position: absolute;
            top: 3rem;
            right:0;
            text-wrap: nowrap;
            .menu-list{
                overflow: hidden;
                min-width: 170px;
                background-color: var(--white);
                border: 1px solid var(--off-white);
                box-shadow: var(--shadow);
                border-radius: .5rem;
            }
            .menu-list-link{
                width: 100%;
                display: flex;
                align-items: center;
                gap: .5rem;
                padding:.8rem;
                svg{
                    width: 24px;
                    color: var(--font-color);
                }
                &:hover{
                    background-color: var(--off-white);
                }
            }
        }
    }
}

nav.categories{
    display: none;
    border-bottom: 1px solid var(--off-white);

    .category-list{
        width: 100%;
        display: flex;
        align-items: center;

        .category-link{
            display: inline-block;
            padding: .5rem .8rem;

            &.active{
                border-bottom:2px solid var(--primary);
            }
            &:hover{
                background: var(--off-white);
            }
        }
    }
}



@media (min-width: 640px) {
    header .navbar {
        .nav-auth{
            display: flex;
        }
        .search-form{
            display: block;
            width: 100%;
        }
        .search-icon{
            display: none;
        }
        .profile {
            .dropdown-button svg, .dropdown-button .username{
                display:block;
            }
        }
    }
    
}

@media (min-width: 1024px) {
    nav.categories{
        display: block;
    }
    header .navbar {
        .search-form{
            display: flex;
            max-width: 640px;
            margin: auto;
            left: 0;
            right: 0;
            position: absolute;
            justify-content: center;
            align-items: center;
    
            input{
                margin:0;
            }
        }
    }

}