
nav{
    background-color: var(--white);
    position: fixed;
    z-index: 9;
    width: 100%;
}

nav .annoucements{
    background-color: var(--danger);
}

nav .main{
    height: 70px;
    padding: 1rem 0;
    border-bottom: 1px solid var(--grey);
}

nav .main .navbar{
    position: relative;
    width: 100%;
    // height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu-icons{
        display: flex;
        align-items: center;
        column-gap: 1.5rem;
        .drawer-toggler{
            width: 100%;
            height: 24px;
            z-index: 10;
            border: none;
            background: none;
            outline: none;
            cursor: pointer;

            svg{
                width: 24px;
                height: 100%;
            }

            &.search-icon[aria-expanded=true]{
                display: none;
            }
        }
        .drawer-toggler:focus {
            outline: none;
          }
        
        .drawer-toggler[aria-expanded=true] .drawer-toggler-icon {
        background: transparent !important;
        }
        
        .drawer-toggler[aria-expanded=true] .drawer-toggler-icon::before,
        .drawer-toggler[aria-expanded=true] .drawer-toggler-icon::after {
        transition: top 300ms 50ms ease, transform 300ms 350ms ease;
        top: 0;
        }
        
        .drawer-toggler[aria-expanded=true] .drawer-toggler-icon::before {
        transform: rotate(45deg);
        }
        
        .drawer-toggler[aria-expanded=true] .drawer-toggler-icon::after {
        transform: rotate(-45deg);
        }
        
        .drawer-toggler .drawer-toggler-icon {
        background: var(--secondary);
        transition: background 10ms 300ms ease;
        display: block;
        width: 24px;
        height: 2.5px;
        position: relative;
        }
        
        .drawer-toggler .drawer-toggler-icon::before,
        .drawer-toggler .drawer-toggler-icon::after {
        transition: top 300ms 350ms ease, transform 300ms 50ms ease;
        position: absolute;
        right: 0;
        left: 0;
        background: var(--secondary);
        width: 24px;
        height: 2.5px;
        content: "";
        }
        
        .drawer-toggler .drawer-toggler-icon::before {
        top: -8px;
        }
        
        .drawer-toggler .drawer-toggler-icon::after {
        top: 8px;
        }
    }

    .brand{
        margin: auto;
        left: 0;
        right: 0;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 130px;
        }
    }

    .nav-auth{
        display: none;
    }
}
nav .categories{
    display: none;
    padding: 1rem 0;

    .category-list{
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;

        .category-link{
            display: inline-block;
            padding: .5rem .8rem;

            &.active{
                border-bottom:2px solid var(--primary);
            }
        }
    }
}

@media (min-width: 1024px) {
    nav .categories{
        display: block;
    }
}

@media (min-width: 640px) {
    nav .main .navbar .nav-auth{
        display: flex;
    }
    
}